body {
    background-image: url("../images/food.jpg");
    color: white;
  }
  
  .buttons,
  #food-input,
  #add-food
  {
    margin: 5px;
    border: 2px solid orange;
  }
  
  #food-div {
    display: inline-block;
    margin: 5px;
  }
  
  #gif-buttons {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .pic {
    border: 2px solid orange;
  }
  
  .rating {
    margin-bottom: 5px;
    font-family: 'Comic Sans', bold;
    text-align: left;
  }
  
  .display-4 {
    font-family: 'Pacifico', bold;
  }
  
  #food-label {
    font-size: 24px;
    font-family: 'Pacifico', bold;
  }
  
  #food-form {
    position: right: 200px;
  }
  
  .lead {
    margin-top: 20px;
    font-size: 24px;
  }
  
  .text-heading {
    background-color: orange;
  }
  
  .jumbotron-fluid {
    padding-bottom: 25px;
    padding-top: 25px;
  }
  
  .page-instructions {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 5px;
  }
  
  #attribution {
    margin-top: 30px;
  }